<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Kids Art Gallery // {{#element}}{{title}}{{/element}}</title>

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <link rel="stylesheet" href="{{assets}}/reset.css" type="text/css" />
  <link rel="stylesheet" href="{{assets}}/style.css" type="text/css" />
  
  <script>
    $(function() {
      img = new Image(); 
      img.src = "{{#element}}{{file}}{{/element}}";
      $(img).load( function() {
        $('#content').css( 'background', 'url( "{{#element}}{{file}}{{/element}}" ) no-repeat center center fixed');
        $("#content").fadeIn( 500 );
        $('#loading').fadeOut( 2000 );
      });
    })
  </script>
</head>
<body>
  <div id="loading">
    <h1>Loading ...</h1>
  </div>
  
  <div id="content" style="display:none">
    {{#element}}
    <div id="details">
      <h1><a href="{{#meta}}{{link}}{{/meta}}">{{title}}</a></h1>
      {{#meta}}
      <div id="author">{{author}}</div>
      <div id="year">Painted in {{year}} with {{years_old}} years old</div>
      <div id="control-open">&lt;</div>
      {{/meta}}
    </div>
    {{/element}}
  
    <div id="menu">
      <ul>
        {{#home}}
          {{#elements}}
            <li><a href="{{link}}">{{title}}</a></li>
          {{/elements}}
        {{/home}}
      </ul>
    </div>
  </div>
</body>
</html>
