<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{#home}}{{title}}{{/home}}</title> 
    
    <link href='http://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
 
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script type="text/javascript" src="{{assets}}/travelling_me.js"></script>
    
    <link rel='stylesheet' href='{{assets}}/style.css' type='text/css' /> 
    <link rel="icon" href="{{assets}}/favicon.ico" type="image/vnd.microsoft.icon" /> 
    
    <!-- lightbox -->
    <script type="text/javascript" src="{{assets}}/jquery-lightbox/js/jquery.lightbox-0.5.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{assets}}/jquery-lightbox/css/jquery.lightbox-0.5.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{assets}}/jquery-lightbox/css/custom.css" media="screen" />
    
    <script>
      var assets = "{{assets}}";
      var lattice_rows = 7;
    </script>
    <script type="text/javascript" src="{{assets}}/application.js"></script>
    
  </head>  
  <body> 
    <div id="container">
      <div id="description">
        <h1>&gt; {{#home}}{{title}}{{/home}}</h1>
        <div id="text">{{#home}}{{#to_md}}{{description}}{{/to_md}}{{/home}}</div>
      </div>
      <div id="content">
        <div id="lattice">
          {{#home}}
            {{#elements}}
              <div id="element_{{title}}" class="element"><a href="{{png}}"><img id="image_{{title}}" src="#{{png_thumb}}#" /></a></div>
            {{/elements}}
          {{/home}}
        </div>
      </div> <!-- content -->
    </div> <!-- container --> 
  </body> 
</html>