<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{#home}}{{title}}{{/home}}</title> 
 
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script type="text/javascript" src="{{assets}}/travelling_me.js"></script>
    
    <link rel='stylesheet' href='{{assets}}/style.css' type='text/css' /> 
    <link rel="icon" href="{{assets}}/favicon.ico" type="image/vnd.microsoft.icon" /> 
    
    <!-- lightbox -->
    <script type="text/javascript" src="{{assets}}/jquery-lightbox/js/jquery.lightbox-0.5.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{assets}}/jquery-lightbox/css/jquery.lightbox-0.5.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{assets}}/jquery-lightbox/css/custom.css" media="screen" />
    
    
    <script>      
      var lattice_rows = 10;

    
      $( function(){
        latticeSize();
        loadImages();

        $( '#content' ).travelling({
          max_velocity: 6,
          inactive_zone: 100,
          fps: 10
        });
        
        activateLightbox();
      });
      
      function activateLightbox(){
        $('.element a').lightBox({
          imageLoading:  '{{assets}}/jquery-lightbox/images/lightbox-ico-loading.gif',
          imageBtnPrev:  '{{assets}}/jquery-lightbox/images/lightbox-btn-prev.gif',
          imageBtnNext:  '{{assets}}/jquery-lightbox/images/lightbox-btn-next.gif',
          imageBtnClose: '{{assets}}/jquery-lightbox/images/lightbox-btn-close.gif',
          imageBlank:    '{{assets}}/jquery-lightbox/images/lightbox-blank.gif'
        });
      }
      
      function latticeSize(){
        lattice_columns = Math.ceil( $( '.element' ).length / lattice_rows );
        
        lattice_width = ( lattice_columns * $( '.element' ).width() );
        lattice_height = ( lattice_rows * $( '.element' ).height() );
        
        $('#lattice').css( 'width', lattice_width + 'px' );
        $('#lattice').css( 'height', lattice_height + 'px' );
      }
      
      function loadImages(){
        var images = $('.element img').sort( function(){ return ( Math.round( Math.random() * 100 ) ) } );
        
        for( var i = 0; i < images.length; i++ ) {
          var img = new Image();
          img.src = $( images[i] ).attr( 'src' ).replace( /#/, '' );
          
          ( function() {
            var id = $( images[i] ).attr( 'id' ).replace( 'image_', '' );
            var src = img.src;
            
            $( img ).load( function() {
              $('#element_' + id).css( 'background-color', 'grey' );
              $('#element_' + id + ' img').attr( 'src', src );
              setTimeout( function() { $('#element_' + id + ' img').fadeIn( 'slow' ); }, 2000 );
            });            
          })();

        }
      }
      
      function randOrd() {
        return ( Math.round( Math.random() * 100 ) ); 
      }
    </script>
  </head>  
  <body> 
    <div id="container">   
      <div id="content">
        <div id="lattice">
          {{#home}}
            {{#elements}}
              <div id="element_{{title}}" class="element"><a href="{{jpg}}"><img id="image_{{title}}" src="#{{jpg_thumb}}#" /></a></div>
            {{/elements}}
          {{/home}}
        </div>
      </div> <!-- content -->
    </div> <!-- container --> 
  </body> 
</html>